@use "./assets/sass/config";

//normalize
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    @include config.font-paragraph;
    width: 100%;
    height: 100%;
    font-size: 18px;
}